.rating {
  grid-area: rating;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  justify-content: left;
  padding-right: 10px;
  padding-top: 20px;
}

.up,
.down {
  position: relative;
  width: 22px;
  height: 22px;
  border: 0;
  background-color: transparent;
  background-size: 100%;
  transition: background-color 0.36s ease-in-out;
}
.up:active,
.down:active {
  background-color: #ff9966;
}
.up {
  background-image: url('../../../image/imgPost/up.svg');
}

.down {
  background-image: url('../../../image/imgPost/down.svg');
}

.ups {
  font-weight: 700;
  font-size: 12px;
  line-height: 130%;
  color: #8f8f8f;
}


